<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ristana.e_news">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.Base">
        <meta-data
            android:name="DATABASE"
            android:value="enws_bd_5.db" />
        <meta-data
            android:name="VERSION"
            android:value="1" />
        <meta-data
            android:name="QUERY_LOG"
            android:value="true" />
        <meta-data
            android:name="DOMAIN_PACKAGE_NAME"
            android:value="com.ristana.e_news.entity.news" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <service android:name=".services.NewsFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".services.FirebaseIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".ui.activity.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"></activity>

        <receiver android:name=".ui.widget.NewAppWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/new_app_widget_info" />
        </receiver>

        <activity android:name=".ui.widget.NewAppWidgetConfigureActivity">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.SettingsActivity"
            android:parentActivityName=".ui.activity.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".ui.activity.LoginActivity"
            android:theme="@style/Theme.UserDialog" />
        <activity
            android:name=".ui.activity.RegisterActivity"
            android:theme="@style/Theme.UserDialog" />
        <activity
            android:name=".ui.activity.ArticleActivity"
            android:parentActivityName=".ui.activity.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".ui.activity.VideoActivity"
            android:parentActivityName=".ui.activity.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".ui.activity.SavedActivity"
            android:parentActivityName=".ui.activity.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".ui.activity.PolicyActivity"
            android:parentActivityName=".ui.activity.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".ui.activity.ContactActivity"
            android:theme="@style/Theme.UserDialog" />
        <activity
            android:name=".ui.activity.AboutActivity"
            android:theme="@style/Theme.UserDialog" />
        <activity
            android:name=".ui.activity.PasswordActivity"
            android:theme="@style/Theme.UserDialog" />
        <activity
            android:name=".ui.activity.AccountActivity"
            android:theme="@style/Theme.UserDialog" />
        <activity
            android:name=".ui.activity.EditActivity"
            android:theme="@style/Theme.UserDialog" />
        <activity
            android:name=".ui.activity.ForgotActivity"
            android:theme="@style/Theme.UserDialog" />
        <activity
            android:name=".ui.activity.RequestActivity"
            android:theme="@style/Theme.UserDialog" />
        <activity
            android:name=".ui.activity.ResetActivity"
            android:theme="@style/Theme.UserDialog" />
        <activity android:name=".ui.activity.IntroActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:screenOrientation="portrait"
            android:parentActivityName=".ui.activity.MainActivity"
            android:name=".ui.activity.SearchActivity"></activity>
        <service
            android:name="com.ristana.e_news.services.AdsService"
            android:enabled="true"
            android:exported="false"
            android:stopWithTask="true" />
    </application>

</manifest>